<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Onest&display=swap" rel="stylesheet">
    <!-- <script src="{{ url_for('static', filename='js/button.js') }}"></script> -->
    <title>Excercise Counter</title>
  </head>

  <body>
    <header>
      <h1>Excercise Counter</h1>
    </header>
    <main>
      <section class="counters">
        <article>
          <!-- <button onclick="CurlUpCounterScript()"></button> -->
          <h2>Curl Ups</h2>
          <img id="curl-ups" src="{{ url_for('curl_ups') }}">
        </article>
  
        <article>
          <!-- <button onclick="BicepCurlCounterScript()"></button> -->
          <h2>Bicep Curls</h2>
          <img id="bicep-curls" src="{{ url_for('bicep_curls') }}">
        </article>
  
        <article>
          <!-- <button onclick="SquatsCounterScript()"></button> -->
          <h2>Squats</h2>
          <img id="squats" src="{{ url_for('squats') }}">
        </article>

        <article>
          <!-- <button onclick="PlankCounterScript()"></button> -->
          <h2>Planks</h2>
          <img id="squats" src="{{ url_for('planks') }}">
        </article>
  
      </section>
    </main>
  </body>
</html>