<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> 
    <link href="https://fonts.googleapis.com/css2?family=Onest&display=swap" rel="stylesheet">
    <title>Excercise Counter</title>
  </head>

  <body>
    <header>
      <h1>Excercise Counter</h1>
    </header>
    <main>
      <section class="counters">
        <article>
          <button onclick="runPythonScript()"><h2>Curl Ups</h2></button>
          <img id="curl-ups" src="{{ url_for('video_feed') }}">
        </article>
  
        <article><button onclick="runPythonScript()"><h2>Bicep Curls</h2></button>
          <img id="bicep-curls" src="{{ url_for('video_feed') }}">
        </article>
  
        <article>
          <article><button onclick="runPythonScript()"><h2>Squats</h2></button>
          <img id="squats" src="{{ url_for('video_feed') }}">
        </article>
  
      </section>
    </main>
  </body>
</html>